body {
	width: 400px;
	height: 450px;
}

.top_line_box {
	display: flex;
	align-items: center;
	width: 100;
	justify-content: space-between;
	padding: 15px 15px 0px 20px;
}

.userCircle {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile_img {
	width: 20px;
	height: 20px;
}

.url_box {
	text-align:center;
	width: 300px;
  height:30px;
  padding-left: 10px;
  border: none;
  background: #7f8c8d;
  border-radius: 5px;
  color: #fff;
}

.url_box:focus {
	outline: none;
}

.statusContainer {
	display: flex;
	width: 100%;
	margin: 30px auto 20px;
	align-items: center;
	justify-content: center;
}

.statusContainer .box {
  margin: 0 20px;
  width: 70px;
  text-align: center;
}

.statusContainer .box img {
	width: 60px;
  height: 60px;
}

.statusContainer .box .score {
	text-align: center;
	color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 0;
}

.EvalButtonBox {
	width:100%;
	display: flex;
	align-items: center;
  justify-content: center;
  margin: 25px auto 0;
}

.EvalButtonBox a .button {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 15px;
  font-weight: 600;
  width: 160px;
  height: 35px;
  background: #fff;
  transition: .3s;
  margin: 0 16px;
}

.button:focus {
  outline: none;
}

.EvalButtonBox a .button:hover {
	background: rgba(255, 255, 255, 0.8);
}

.EvalButtonBox a {
  text-decoration: none;
  color: #000;
}

.infoContainer {
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}

.infoContainer h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  height: 36px;
  border-bottom: 2px solid rgb(118,113,113);
}

.infoContainer .infoBox {
  width: 370px;
  height: 90px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
  margin: 8px auto 0;
  padding: 5px;
}

.infoContainer .title a h2 {
  font-size: 15px;
  color: #000;
  font-weight: 600;
  max-height: 45px;
}

.infoContainer .title a h2:hover, .infoContainer .seeMore a:hover {
  text-decoration: underline;
}

.infoContainer .description p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.infoContainer .seeMore {
  margin: 10px 0 0;
  width: 100%;
  text-align: right;
}

.infoContainer .seeMore a {
  color: #fff;
  font-size: 16px;
}

