*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  overflow: hidden;
  background: rgb(89,89,89);
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}
